.navbar{
    background-color: #fdfdfd;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;   
    align-items: center;
    /* align-content: center; */
    height: 60px;
    border: 1px solid #e0e0e0;

    .box{
        color: green;
        text-decoration: none;
        font-size: 17px;
        cursor: pointer;
        align-content: center;
        font-weight: bold;
        display: flex;
        gap: 10px;
        h1{
            margin: auto 0;
        }
        .icon{
            font-size: 45px;
            color: green;
        }
    }

    .links a{
        text-decoration: none;
        color: black;
        padding: 14px 20px;
        font-size: 17px;
        font-weight: 500;
        &:hover{
            color: green;
        }
        &::selection{
            color: green;
        }
    }

    .action{
        display: flex;
        gap: 10px;

        button{
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            color: #e0e0e0;
            background-color: green;
            &:hover{
                background-color: rgb(29, 161, 29);
                color: #fff;
            }
        }
        .btn{
            background-color: #fff;
            color: green;
            border: 1px solid green;
            &:hover{
                background-color: rgb(190, 199, 190);
                color: green;
            }
        }
    }
}